/* Hyperlinks ----------------------------------------------------------------*/

a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}

a:hover {
  color: #00438a;
  text-decoration: underline;
}

/* Typography ----------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-family: sans-serif;
  margin: 0.7em 0 0 0;
  line-height: 1.5em;
}
h2 {
  line-height: 1.2em;
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #404040;
}


